<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="style/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="style/style.css" type="text/css"/>
    <link rel="stylesheet" href="style/jquery-ui.css" type="text/css"/>
</head>
<body>
<div class="container">
    <div class="row" id="MainForm">
        <img id="wikiImg" src="img/Wikipedia-logo.png">

        <div class="col-md-8 col-md-offset-2">
            <form action="index.php?action=Results" method="POST">
                <div class="form-group">
                    <div class="control-group ">
                        <div class="controls">
                            <input type="text" class="form-control" id="searchParameter">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button id="subButton" type="submit" name="searchParameter"
                                    class="btn btn-primary pull-right">
                                Search!
                            </button>
                        </div>
                        <div>
                            <div class="col-md-6">
                                <button id="subButtonFront" type="submit" name="searchParameter"
                                        class="btn btn-primary pull-left">
                                    Search Front!
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="results"></div>
</div>
<div class="resultJS" id="resultJS" style="display: none">
    <ul class="list-group">

        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4">
                    <img class="card-img-top" src="" alt="Card image cap">
                </div>
                <div class="col-md-8"></div>
                <h1 class="header"></h1>

                <p class="sneakPeak"></p>
                <a class="pull-right" href="" target="_blank">link &rarr;</a>
            </div>
        </li>
    </ul>
</div>


</body>
<script src="JS/jquery-3.2.0.min.js" type="text/javascript"></script>
<script src="JS/bootstrap.min.js" type="text/javascript"></script>
<script src="JS/jquery-ui.js" type="text/javascript"></script>
<script src="JS/ResultBuilder.js" type="text/javascript"></script>
<script src="JS/mainScript.js?seed={{ random(1000000000) }} " type="text/javascript"></script>
</html>