<div>
    <ul class="list-group">

        {% for result in results %}

        <li class="list-group-item">
            <div class="row">
                <div class="col-md-4">
                    <img class="card-img-top" src="{{result.getImage()}}" alt="Card image cap">
                </div>
                <div class="col-md-8"></div>
                <h1>{{result.getHeader()}}</h1>

                <p> {{result.getSneakPeak()}} </p>
                <a class="pull-right" href="{{result.getUrl()}}" target="_blank">link &rarr;</a>
            </div>
        </li>
        </br>
        {% endfor %}
    </ul>
</div>