

.btn {
    margin-top: 1%;
    /*width: 100%;*/
}

a {
    color: inherit;
}

.card-image {
    height: 100%;
    border-right: 1px solid #ccc;
}

.row {
    margin-bottom: 50px;
    width: 100%;
    /*box-shadow: 2px 5px 5px #e1bee7;*/
}

.articleIcon {
    width: 250px !important;
}
#MainForm {
margin-top: 25%;
}

html,
body {
    height: 100%;
    background-color: #ede7f6;
    overflow: auto;
}
#wikiImg{
    display: block;
    margin: 10px auto;
    /*margin-bottom: 10px;*/

}

